<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
        <div class="contact-info float-left">
            <i class="icofont-envelope"></i><a href="mailto:marcalgyn@hotmail.com">marcalgyn@hotmail.com</a>
            <a href="https://wa.me/5562985567314?text=Acessando%20MarcalGyn" 
                            target="_blank"  aria-hidden="true">
            <i class="icofont-phone"></i> +55 62 98556-7314
            </a>
        </div>
        <div class="social-links float-right">
            <a href="https://www.instagram.com/silvio.marcal" class="instagram">
            <i class="bx bxl-instagram"></i></a>
            
            <!-- a href="#" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="#" class="skype"><i class="icofont-skype"></i></a>
            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a -->
        </div>
    </div>
</section>

<!-- ======= Header ======= -->
<header id="header">
    <div class="container">
        <div class="logo float-left">
            <h1 class="text-light"><a href="/">MarcalGyn</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="/"> Home</a></li>
                <li><a href="#sobre"> Sobre</a></li>
                <li><a href="#servicos"> Serviços</a></li>
                <li><a href="#time"> Time</a></li>
                <li><a href="#contato"> Contato</a></li>
                <li><a href="/usuario/login"><b> Area do Cliente</a></b> </li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->