<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Relatório por Periodo de Movimentação</h2>
            </div>
        </div>
        {{>_msg}}
        {{#if usuario.usuario}}
        <form method="GET" action="/relatorio/rel-periodo">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="idCliente1">Cliente</label>
                    <select name="idCliente" id="idCliente" class="custom-select">
                        {{#each cliente}}
                        <option value="{{idCliente}}">{{nome}}</option>
                        {{else}}
                        <option value="0">Nehum Cliente Cadastrado</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label><span class="text-danger">*</span> Data Inicio:</label>
                    <input name="dataInicio" type="date" class="form-control" id="dataInicio" required>
                </div>

                <div class="form-group col-md-2">
                    <label><span class="text-danger">*</span> Data Fim:</label>
                    <input name="dataFim" type="date" class="form-control" id="dataFim" required>
                </div>

                <div class="form-group col-md-1">
                    <label><span class="text-danger"></span> Ativo</label>
                    <input name="ativo" type="text" class="form-control" id="ativo"
                        style="text-transform: uppercase;">
                </div>

                <div class="form-group col-md-1">
                    <label><span class="text-danger">*</span> Taxa Câmbio:</label>
                    <input name="txcambio" type="text" class="form-control" id="txcambio"
                        onkeypress="$(this).mask('##0.00', {reverse: true})" required>
                </div>

                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-info">Consultar</button>
                </div>
            </div>
        </form>
        {{else}}
        <form method="GET" action="/relatorio/rel-periodo">
            <div class="row">
                <input name="ativo" type="hidden" class="form-control" id="ativo" style="text-transform: uppercase;">
                
                <div class="form-group col-md-2">
                    <label><span class="text-danger">*</span> Data Inicio:</label>
                    <input name="dataInicio" type="date" class="form-control" id="dataInicio" required>
                </div>

                <div class="form-group col-md-2">
                    <label><span class="text-danger">*</span> Data Fim:</label>
                    <input name="dataFim" type="date" class="form-control" id="dataFim" required>
                </div>

                
                    
                    
                

                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-info">Consultar</button>
                </div>
            </div>
        </form>

        {{/if}}

        <hr>
    </div>
</div>