<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Relatório de Recebimento </h2>
            </div>
        </div>
        {{#if usuario.usuario}}
        <form method="POST" action="/relatorio/rel-recebimento">
            <div class="card" style="width: 40rem;">
                <div class="form-group col-md-12">
                    <label> Periodo de Lançamento</label>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label><span class="text-danger">*</span> Data Inicio:</label>
                            <input name="dataInicio" type="date" class="form-control" id="dataInicio" required>
                        </div>

                        <div class="form-group col-md-4">
                            <label><span class="text-danger">*</span> Data Fim:</label>
                            <input name="dataFim" type="date" class="form-control" id="dataFim" required>
                        </div>

                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-info">Consultar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        {{/if}}
        <hr>
    </div>
</div>