<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url('/assets/img/slide/slide-1.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content container">
                            <h2 class="animated fadeInDown">Seja Bem Vindo a <span>Win2Tech</span></h2>
                            <p class="animated fadeInUp">"Nunca dependa de uma única fonte de Renda, "</p>
                            <a href="#sobre" class="btn-get-started animated fadeInUp scrollto">Leia Mais</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url('/assets/img/slide/slide-2.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content container">
                            <h2 class="animated fadeInDown">Mercado Financeiro</h2>
                            <p class="animated fadeInUp">"Faça investimentos criando outras rendas."</p>
                            <a href="#sobre" class="btn-get-started animated fadeInUp scrollto">Leia Mais</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url('/assets/img/slide/slide-3.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content container">
                            <h2 class="animated fadeInDown">Tranquilidade e Segurança</h2>
                            <p class="animated fadeInUp">Seu dinheiro na sua mão.</p>
                            <a href="#sobre" class="btn-get-started animated fadeInUp scrollto">Leia Mais</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
                <span class="sr-only">proximo</span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->


<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="sobre" class="about">
        <div class="container">

            <div class="row no-gutters">
                <div class="col-lg-6 video-box">
                    <img src="/assets/img/about.jpg" class="img-fluid" alt="">
                    <!-- Insere o Link de um video institucional -->
                    <a href="#" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

                    <div class="section-title">
                        <h2>Sobre Nós</h2>
                        <p style="text-align: justify;">A Win2Tech é uma boutique de investimentos que
                            desenvolve estratégias exclusivas para cada perfil de investidor no mercado mobiliário.
                            O binômio qualidade técnica de nossos traders e uso intensivo da tecnologia diuturnamente
                            atualizada, reflete-se a fim de oferecer aos clientes um serviço diferenciado na
                            obtenção de retornos acima da média do mercado de renda fixa.
                            Com o advento das novas tecnologias de negociações no mercado mobiliário mundial,
                            nós temos como diferencial a expertise em renda variável nos mercados futuros Brasileiro
                            (BM&F IBOVESPA) e nos mercado internacional Americano e Europeu, e excede as expectativas
                            negociadas de rentabilidade constante de mercado com suas rápidas mudanças,
                            estamos nos posicionando dia a dia como protagonistas destas mudanças,
                            trazendo estas vantagens competitivas aos nossos investidores,</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Nosso diferencial</a></h4>
                        <p class="description"> SEGURANÇA PARA O INVESTIDOR.</p>
                        <p class="description" style="text-align: justify;"> Os recursos financeiros para as operações
                            será 100% alocado na própria conta do investidor.</p>
                        <p class="description">MODELO DE OPERAÇÃO.</p>
                        <p class="description" style="text-align: justify;">
                            Nossas operações são realizadas em contas próprias,
                            e replicadas através de um software (2 Follow) direto
                            para as contas dos investidores.
                        </p>

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Lists Section ======= -->
    <section class="about-lists">
        <div class="container">

            <div class="section-title">
                <h2>Mercado</h2>
            </div>
            <div class="row no-gutters">

                <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
                    <span>01</span>
                    <h4>Câmbio</h4>
                    <p>
                        <iframe
                            src="https://br.widgets.investing.com/live-currency-cross-rates?theme=lightTheme&hideTitle=true&pairs=2103"
                            width="315" height="240" frameborder="0" allowtransparency="true" marginwidth="0"
                            marginheight="0"></iframe>
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
                    <span>02</span>
                    <h4> Moeda EUR/CAD</h4>
                    <p>
                        <iframe
                            src="https://sslcharts.forexprostools.com/index.php?force_lang=12&pair_ID=16&timescale=300&candles=25&style=line"
                            height="250" width="315" frameborder="0" allowtransparency="true" marginwidth="0"
                            marginheight="0">
                        </iframe>
                    </p>
                </div>


                <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
                    <span>03</span>
                    <h4> Moeda EUR/AUD</h4>
                    <p>
                        <iframe height="250" width="315" frameborder="0" allowtransparency="true" marginwidth="0"
                            marginheight="0"
                            src="https://sslcharts.forexprostools.com/index.php?force_lang=12&pair_ID=15&timescale=300&candles=25&style=candles"></iframe>
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
                    <span>04</span>
                    <h4> Resumo Técnico</h4>
                    <p>
                        <iframe frameborder="0" scrolling="no" height="290" width="325" allowtransparency="true"
                            marginwidth="0" marginheight="0"
                            src="https://ssltools.forexprostools.com/technical_summary.php?pairs=8830,8833,8914,8916,166&curr-name-color=%230059B0&fields=5m,1h,1d&force_lang=12"></iframe>
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
                    <span>05</span>
                    <h4> Moeda EUR/CAD</h4>
                    <p>
                        <iframe height="290" width="315" frameborder="0" allowtransparency="true" marginwidth="0"
                            marginheight="0"
                            src="https://sslcharts.forexprostools.com/index.php?force_lang=12&pair_ID=7&timescale=300&candles=25&style=line"></iframe>
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
                    <span>06</span>
                    <h4>Forex</h4>
                    <p>
                        <iframe
                            src="https://ssltsw.forexprostools.com?tabsLine=%239ea8b8&lang=1&forex=1,2,3,5,7,9,10&commodities=8830,8836,8831,8849,8833,8862,8832&indices=175,166,172,27,179,170,174&stocks=334,345,346,347,348,349,350&tabs=1,2,3,4"
                            height="290" width="319" frameborder="0" allowtransparency="true" marginwidth="0"
                            marginheight="0"> </iframe>
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End About Lists Section -->

    <!-- ======= Counts Section ======= -->
    <section class="counts section-bg">
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                    <div class="count-box">
                        <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                        <span data-toggle="counter-up">232</span>
                        <p>Clientes Satisfeitos</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box">
                        <i class="icofont-document-folder" style="color: #c042ff;"></i>
                        <span data-toggle="counter-up">521</span>
                        <p>Projetos</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
                    <div class="count-box">
                        <i class="icofont-live-support" style="color: #46d1ff;"></i>
                        <span data-toggle="counter-up">1,463</span>
                        <p>Suporte</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
                    <div class="count-box">
                        <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
                        <span data-toggle="counter-up">15</span>
                        <p>Time</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="servicos" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Serviços</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="icofont-institution"></i></div>
                    <h4 class="title"><a href="">Abertura de Contas</a></h4>
                    <p class="description" style="text-align: center;">
                        Prestamos o serviço de assessoria de abertura de conta dos clientes,
                        em qualquer corretora que ele vier a escolher.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                    <h4 class="title"><a href="">2 Follow</a></h4>
                    <p class="description" style="text-align: center;">
                        Ferramenta faz copytrade das operações da nossa própria
                        conta às contas dos investidores simultaneo.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="icofont-chart-histogram"></i></div>
                    <h4 class="title"><a href="">Rentabilidade</a></h4>
                    <p class="description" style="text-align: center;">
                        Nosso sistema emite o relatório com todas as operações que
                        fizemos, bem como fator de lucratividade, taxa de performance
                        e o ganho sobre o capital investido dos nossos clientes.
                    </p>
                </div>
                <!--
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="icofont-image"></i></div>
                        <h4 class="title"><a href="">Magni Dolores</a></h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="icofont-settings"></i></div>
                        <h4 class="title"><a href="">Nemo Enim</a></h4>
                        <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon"><i class="icofont-tasks-alt"></i></div>
                        <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                        <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                            tempore, cum soluta nobis est eligendi</p>
                    </div>
                    -->
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Our Portfolio Section ======= -->
    <!-- Retirado Provisorio
    <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="section-title">
                <h2>Nosso Portfolio</h2>
                <p>Em Breve...</p>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Todos</li>
                        <li data-filter=".filter-app">Mercado Interno</li>
                        <li data-filter=".filter-card">Mercado Externo</li>
                        <li data-filter=".filter-web">Clipto Moedas</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Mercado Interno</h4>
                            <p>Mercado Interno</p>
                            <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery"
                                    class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Mercado Externo</h4>
                            <p>Mercado Externo</p>
                            <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery"
                                    class="venobox" title="Web 3"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Clipto Moedas</h4>
                            <p>Clipto Moedas</p>
                            <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery"
                                    class="venobox" title="App 2"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 2</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery"
                                    class="venobox" title="Card 2"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Clipto Moedas</h4>
                            <p>Clipto Moedas</p>
                            <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery"
                                    class="venobox" title="Web 2"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery"
                                    class="venobox" title="App 3"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 1</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery"
                                    class="venobox" title="Card 1"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 3</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery"
                                    class="venobox" title="Card 3"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Clipto Moedas</h4>
                            <p>Clipto Moedas</p>
                            <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery"
                                    class="venobox" title="Web 3"><i class="icofont-eye"></i></a>
                                <a href="#" title="More Details"><i class="icofont-external-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    -->

    <!-- End Our Portfolio Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="time" class="team">
        <div class="container">

            <div class="section-title">
                <h2>Nosso Time</h2>
                <p>Nosso Time em Breve...</p>
            </div>

            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                    <div class="member">
                        <div class="pic"><img src="/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Nome</h4>
                            <span>CEO</span>
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="pic"><img src="/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Nome</h4>
                            <span>CEO</span>
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="pic"><img src="/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Nome</h4>
                            <span>T.I</span>
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Perguntas Frequentes</h2>
            </div>

            <div class="row  d-flex align-items-stretch">

                <div class="col-lg-6 faq-item" data-aos="fade-up">
                    <h4>Qual a Segurança para o meu capital?</h4>
                    <p style="text-align: justify;">
                        Visualização das operações em tempo real, através de um APP instalado direto no celular.
                        A Win2Tech em nenhum momento tem autorização para movimentações financeiras (saques e depositos)
                        na conta do cliente.
                    </p>
                </div>

                <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="100">
                    <h4>Quem pode realizar operações (saques e depositos) da minha conta?</h4>
                    <p style="text-align: justify;">
                        Somente o investidor. A Win2Tech NÂO tem acesso em nenhum momento ao capital do investidor.
                    </p>
                </div>

                <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="200">
                    <h4>As operações possui risco?</h4>
                    <p style="text-align: justify;">
                        Todas as operações possuem o risco retorno pré-definidos.
                    </p>
                </div>

                <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="300">
                    <h4>Quando eu posso realizar retiradas?</h4>
                    <p style="text-align: justify;">
                        Nossas operações têm liquidez diária, permitindo retiradas dos lucros diariamente.
                    </p>
                </div>

                <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
                    <h4>Como nós da Win2Tech lucramos com isso?</h4>
                    <p style="text-align: justify;">
                        Todas as nossas operações são replicadas através da nossa ferramenta (2 Follow) para a conta dos
                        investidores.
                    </p>
                </div>

                <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
                    <h4>Quando a Win2Tech emite a taxa de performance para os Investidores?
                    </h4>
                    <p style="text-align: justify;">
                        Ao longo de 07 dias, emitimos nossa fatura para o investidor com nossa taxa de performance.
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contato" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Entre em Contato</h2>
            </div>

            <div class="row">

                <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="info-box">
                        <i class="bx bx-map"></i>
                        <h3>Nossos Endereços</h3>
                        <p>Rio de Janeiro-RJ / Goiânia-GO</p>
                    </div>
                </div>

                <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="info-box">
                        <i class="bx bx-envelope"></i>
                        <h3>Email</h3>
                        <p>contato@win2tech.com.br</p>
                    </div>
                </div>

                <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="info-box ">
                        <a href="https://wa.me/556282866394?text=Acessando%20Win2Tech" target="_blank"
                            aria-hidden="true">
                            <i class="bx bx-phone-call"></i>
                            <h3>Telefone</h3>
                            <p type="tel">62 98286-6394</p>
                        </a>
                    </div>
                </div>
                <!-- Formulario de contato retirado provisoariamente 
                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="col-lg-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome"
                                    data-rule="minlen:4" data-msg="Porfavor informe no minimo 4 caracteres" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Seu E-mail" data-rule="email"
                                    data-msg="Por favor informe um e-mail valido" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto"
                                data-rule="minlen:4" data-msg="Por Favor informe no minimo 8 caracteres" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                                data-msg="Por favor escreve algo para nós" placeholder="Message"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Sua Mensagem foi enviada com sucesso. Obrigado!!</div>
                        </div>

                        <div cla1ss="text-center"><button type="submit">Envia Mensagem</button></div>
                    </form>
                </div>
-->
            </div>

        </div>
    </section><!-- End Contact Us Section -->
    <div>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <a href="https://wa.me/556282866394?text=Acessando%20Win2Tech" target="_blank" class="whatsapp"
            aria-hidden="true">
            <i style="margin-top:16px" class="fab fa-whatsapp"></i>
        </a>

    </div>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>Win2Tech</h3>
                    <p>
                        Brasil <br>
                        Rio de Janeiro-RJ / Goiânia-GO<br><br>
                        <strong>Telefone:</strong> +55 62 98286-6394<br>
                        <strong>Email:</strong> contato@win2tech.com.br<br>
                    </p>
                    <div class="social-links mt-3">
                        <!-- a href="#" class="twitter"><i class="bx bxl-twitter"></i></a -->
                        <!-- a href="#" class="facebook"><i class="bx bxl-facebook"></i></a -->
                        <!-- a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a -->
                        <a href="https://www.instagram.com/win2tech.br" class="instagram"><i
                                class="bx bxl-instagram"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Todos os Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#sobre">Sobre</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#servicos">Serviços</a></li>
                    </ul>
                </div>

                <!--
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nossos Serviços</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Mercado Interno</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Mercado Externo</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Criptomoedas</a></li>

                    </ul>
                </div>
                

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Recebe Nossa Newsletter</h4>
                    <p>Receba informações diarias, Cadastre para receber.</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                </div>
                -->

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Win2Tech</span></strong>. Todos os Direitos Reservados
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/ -->
            Designed by <a href="#">Silvio Marçal</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>